<ng-container *ngFor="let premise of premises">
  <div *ngIf="premises && premises.length" class="container my-5">
    <div class="row">
      <div class="col-md-7">
        <div class="premise-image mb-3">
          <!-- Dynamically load image here -->
          <img src="assets/img/domdevelopment/premise_plan_2.jpg" alt="Premise View" class="img-fluid">
        </div>
        <!-- Additional premise details like gallery or floor plan can go here -->
      </div>
      <div class="col-md-5">
        <div class="premise-details">
          <h2 class="premise-title">{{ premise.type }} - {{ premise.number }}</h2>
          <p class="lead"><strong>{{ 'shared.premise.floor' | translate }}</strong> {{ premise.floor }}</p>
          <p><strong>{{ 'shared.premise.area' | translate }}</strong> {{ premise.surfacePerSqMeter }} m²</p>
          <p><strong>{{ 'shared.premise.rooms' | translate }}</strong> {{ premise.numberOfRooms }}</p>
          <p><strong>{{ 'shared.premise.pricePerM' | translate }}</strong> {{ premise.pricePerSqMeter }} pln</p>
          <p><strong>{{ 'shared.premise.totalPrice' | translate }}</strong> {{ premise.totalPrice }} pln</p>
          <p><strong>{{ 'shared.premise.technicalStatus' | translate }}</strong> {{ getDictionaryValue('technicalStatus', premise) }}</p>
          <p><strong>{{ 'shared.premise.salesStatus' | translate }}</strong> {{ getDictionaryValue('salesStatus', premise) }}</p>
          <p><strong>{{ 'shared.premise.exposure' | translate }}</strong> {{ getDictionaryValue('exposure', premise) }}</p>

          <p>
            <span class="badge bg-success" *ngIf="premise.balcony">Balcony</span>
            <span class="badge bg-primary" *ngIf="premise.garden">Garden</span>
          </p>
          <a [routerLink]="['/contact']" class="btn btn-primary btn-lg mt-3">{{ 'shared.premise.ask' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let investment of investments">
  <section *ngIf="investments && investments.length" class="investment">
    <div class="investment__image-container">
      <img class="investment__image" src="assets/img/domdevelopment/estate.jpg" alt="{{ investment.name }}">
    </div>
    <div class="investment__info">
      <h1 class="investment__title">{{ investment.name }}</h1>
      <p class="investment__description">{{ investment.description }}</p>
      <p class="investment__address">{{ investment.addressStreet }}, {{ investment.addressCountry }}</p>
      <a href="#" class="investment__link">{{ 'shared.more' | translate }}</a>
    </div>
  </section>
</ng-container>
