.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.paginator-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

mat-paginator {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .paginator-container {
    justify-content: center;
  }

}
