<nav>
  <mat-toolbar color="primary">
    <img src="{{url}}" alt="Logo" class="toolbar-logo" [routerLink]="['/']">
    <button mat-button [matMenuTriggerFor]="cities_menu">
      <i class="material-icons">location_city</i>{{ 'shared.header.cities' | translate }}
    </button>
    <mat-menu #cities_menu="matMenu">
      <button *ngFor="let city of cities" mat-menu-item [routerLink]="['/city', city.id]">
        {{ city.name }}
      </button>
    </mat-menu>
    <button mat-button [routerLink]="['/contact']">{{ 'shared.header.contact' | translate }}</button>
    <span class="spacer"></span>
    <button mat-button *ngIf="(isLoggedIn$ | async)" [routerLink]="['/dashboard']">
      <i class="material-icons">dashboard</i>{{ 'shared.header.dashboard' | translate }}
    </button>
    <button mat-button [matMenuTriggerFor]="language_menu">
      <i class="material-icons">language</i>{{ 'shared.header.language.selection' | translate }}
    </button>
    <mat-menu #language_menu="matMenu">
      <button mat-menu-item (click)="switchLanguage('pl')">{{ 'shared.header.language.polish' | translate }}</button>
      <button mat-menu-item (click)="switchLanguage('en')">{{ 'shared.header.language.english' | translate }}</button>
    </mat-menu>
    <button mat-button *ngIf="(isLoggedIn$ | async)" (click)="logout()">
      <i class="material-icons">exit_to_app</i>{{ 'shared.log.logout' | translate }}
    </button>
    <button mat-button *ngIf="!(isLoggedIn$ | async)" [routerLink]="['/login']">
      <i class="material-icons">login</i>{{ 'shared.log.login' | translate }}
    </button>
  </mat-toolbar>
</nav>
