.sidebar {
  width: 150px;
  background-color: #34495e;
  padding: 20px;
  color: #ecf0f1;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px 0;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        background-color: #2c3e50;
      }
    }
  }
}
