<ng-template #headerContainer></ng-template>
<main>
  <ng-template #homeContainer></ng-template>
  <ng-template #contactContainer></ng-template>
  <ng-template #investmentListContainer></ng-template>
  <ng-template #premiseListContainer></ng-template>
  <ng-template #premiseDetailContainer></ng-template>
  <ng-template #dashboardContainer></ng-template>
<!--  <ng-template #projectOverviewContainer></ng-template>-->
  <router-outlet></router-outlet>
</main>
<ng-template #footerContainer></ng-template>
