<mat-card class="premise-card">
  <mat-card-header>
    <div class="premise-image" style="background-image:url('assets/img/domdevelopment/premise_plan.png');"></div>
    <!--    <mat-card-title>Osiedle dode</mat-card-title>-->
    <!--    <mat-card-subtitle>Opis</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <p class="details">{{ premise.surfacePerSqMeter }} m² - {{ premise.numberOfRooms }} {{ 'shared.premise.rooms' | translate }}</p>
    <p class="floor">{{ premise.floor }} {{ 'shared.premise.floor' | translate }}</p>
    <div class="price">
      <span class="new-price">{{ premise.totalPrice }} pln</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/premise', premise.id]" class="more-info-btn">{{ 'shared.more' | translate }}</button>
  </mat-card-actions>
</mat-card>
